/* Mobile first */

.main-content, .sidebar {
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
}


/* Desktop queries */

@media screen and (min-width: 992px) {
    .main-content, .sidebar {
        float: left;
        padding: 0 15px;
        overflow: hidden;
    }
    .main-content {
        width: calc(66.66% - 30px);

    }
    .sidebar {
        width: calc(33.33% - 30px);
    }
}